@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
html {
  /* Escala tipografica */
    font-size: 62.5%;

  /* Familias tipograficas */
    --font-1: "Outfit", sans-serif;

  /* Variables tipograficas */
    --text-caption: 1.2rem;
    --text-base: 1.5rem;
    --text-subtitle: 2rem;
    --text-title: 2.6rem;
    --text-jumbo: 3.2rem;

  /* Colores */
    --primary-1: hsl(0, 78%, 62%);
    --primary-2: hsl(180, 62%, 55%);
    --primary-3: hsl(34, 97%, 64%);
    --primary-4: hsl(212, 86%, 64%);

    --secondary-1: hsl(0, 0%, 100%);
    --secondary-2: hsl(212, 6%, 44%);
    --secondary-3: hsl(234, 12%, 34%);
}



body {
    background-color: var(--secondary-1);

    color: var(--secondary-3);
    font-family: var(--font-1);
    font-size: var(--text-base);
    font-weight: 200;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);

    min-width: 272px;
    margin: 32px auto;
    padding: 0 24px;
    background-color: #fff0e6;
}

.title {
    grid-column: 1/5;
    grid-row: 1;

    margin: 24px 0 8px 0;

    color: var(--secondary-2);
    font-size: var(--text-title);
    font-weight: 200;
    text-align: center;
}

.title span {
    color: var(--secondary-3);
    font-weight: 600;
}

.description {
    grid-column: 1/5;
    grid-row: 2;

    font-weight: 400;
    text-align: center;
    line-height: 1.4;
}

.subtitle {
    color: var(--secondary-3);
    font-size: var(--text-subtitle);
    font-weight: 600;
    margin-bottom: 16px;
}

.text {
    color: var(--secondary-2);
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 16px;
}

.card-1 {
    grid-column: 1/5;
    grid-row: 3;

    position: relative;
    margin: 8px;
    padding: 24px 24px 96px 24px;
    border-top: 4px solid var(--primary-2);
    border-radius: 12px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.card-2 {
    grid-column: 1/5;
    grid-row: 4;

    position: relative;
    margin: 8px;
    padding: 24px 24px 96px 24px;
    border-top: 4px solid var(--primary-1);
    border-radius: 12px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.card-3 {
    grid-column: 1/5;
    grid-row: 5;

    position: relative;
    margin: 8px;
    padding: 24px 24px 96px 24px;
    border-top: 4px solid var(--primary-3);
    border-radius: 12px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.card-4 {
    grid-column: 1/5;
    grid-row: 6;

    position: relative;
    margin: 8px;
    padding: 24px 24px 96px 24px;
    border-top: 4px solid var(--primary-4);
    border-radius: 12px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.card-image {
    width: 48px;
    position: absolute;
    bottom: 32px;
    right: 16px;
}

@media screen and (min-width: 670px) and (max-width: 1024px) {

    .card-1 {
        grid-column: 1/3;
    }

    .card-2 {
        grid-column: 3/5;
        grid-row: 3;
    }

    .card-3 {
        grid-column: 1/3;
        grid-row: 4;
    }

    .card-4 {
        grid-column: 3/5;
        grid-row: 4;
    }
}   

@media screen and (min-width: 1025px) {

    .container {
        grid-template-columns: repeat(12, 1fr);
        gap: 30px;
        grid-template-rows: repeat(12, auto);

        max-width: 980px;
        padding: 0 30px;
    }

    .title {
        grid-column: 1/13;
        grid-row: 1/2;
    }

    .description {
        grid-column: 1/13;
        grid-row: 2/4;
    }

    .card-1 {
        grid-column: 1/5;
        grid-row: 7/11;
    }

    .card-2 {
        grid-column: 5/9;
        grid-row: 4/8;
    }

    .card-3 {
        grid-column: 5/9;
        grid-row: 9/13;
    }

    .card-4 {
        grid-column: 9/13;
        grid-row: 7/11;
    }
}